<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FT8Win.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FT8Win.My.MySettings>
            <setting name="MiIndicativo" serializeAs="String">
                <value />
            </setting>
            <setting name="MiGrid" serializeAs="String">
                <value />
            </setting>
            <setting name="EntradaAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="SalidaAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="PuertoPtt" serializeAs="String">
                <value />
            </setting>
            <setting name="Modo" serializeAs="String">
                <value>FT8</value>
            </setting>
            <setting name="Banda" serializeAs="String">
                <value>12m</value>
            </setting>
            <setting name="DialManual" serializeAs="String">
                <value />
            </setting>
            <setting name="FrecTx" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="FrecRx" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="NivelTx" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CicloPar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSeq" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeguirCola" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QrzActivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QrzApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EqslActivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EqslUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="EqslClave" serializeAs="String">
                <value />
            </setting>
            <setting name="LotwActivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LotwTqsl" serializeAs="String">
                <value />
            </setting>
            <setting name="LotwUbicacion" serializeAs="String">
                <value />
            </setting>
            <setting name="LotwDesde" serializeAs="String">
                <value />
            </setting>
            <setting name="LotwHasta" serializeAs="String">
                <value />
            </setting>
            <setting name="PskReporter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogColores" serializeAs="String">
                <value />
            </setting>
            <setting name="CatModelo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CatPuerto" serializeAs="String">
                <value />
            </setting>
            <setting name="CatBaudios" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CatSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CatHamlib" serializeAs="String">
                <value />
            </setting>
        </FT8Win.My.MySettings>
    </userSettings>
</configuration>